.top-aside {

}
.box-person {
   display: flex;
   align-items: center;
   gap: 8px;
   position: relative;
   margin-bottom: 50px;
}
/* *=================================== */
.arrow {
   position: absolute;
   right: -33px;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #a492ff;
   border-radius: 50%;
   cursor: pointer;
}
.arrow::after,
.arrow::before {
   content: "";
   width: 10px;
   height: 2px;
   border-radius: 1px;
   background-color: #fff;
   position: absolute;
   transition: all 0.5s;
}
.arrow::after {
   transform: rotate(-45deg);
   top: 9px;
}
.arrow::before {
   transform: rotate(45deg);
   top: 15px;
}
.arrow:hover::before {
   transform: rotate(-45deg);
}
.arrow:hover::after {
   transform: rotate(45deg);
}
/* *Initial=================================== */
.person-initial {
   font-weight: 700;
   line-height: 22px;
   color: #fff;
   font-weight: 700;
   line-height: 22px;
   color: #fff;
   width: 44px;
   min-width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #a492ff;
   border-radius: 8px;
}
/* *Detail=================================== */
.person-detail {
   display: none;
   overflow: hidden;
}
/*  */
.person-name {
   font-weight: 700;
   line-height: 22px;
   color: #efefef;
}
.person-email {
   font-size: 14px;
   line-height: 19px;
   color: #c0bfbd;
}
