body {
   margin: 0;
   padding: 0;
}
.table {
   border-collapse: collapse;
   width: 100%;
   font-family: Arial, sans-serif;
}
.thead__items {
   background-color: #f2f2f2;
   font-weight: bold;
   border: 1px solid #ddd; 
   height: 40px;
}
.thead__items th {
   border: 1px solid #ddd;
}
.tbody__items:nth-child(even) {
   background-color: #f2f2f2;
}

.tbody__items:hover {
   background-color: #ddd;
}
.item {
   font-size: 20px;
   padding: 0;
}
.tbody__items td {
   padding: 8px;
   text-align: center;
   border: 1px solid #ddd; 
}

.tbody__items td:first-child {
   text-align: left;
}
