body {
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}
ul {
   padding: 0;
   margin: 0;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
   color: #fff;
}
/* *Asaid=================================== */
.asaid {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 90px;
   background-color: #242625;
   padding: 22px;
   box-sizing: border-box;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   /* overflow-y: auto;
   overflow-x: hidden; */
   transition: all 0.3s linear;
}

/* *Top-asaid=================================== */
.top-aside {

}
.box-person {
   display: flex;
   align-items: center;
   gap: 8px;
   position: relative;
   margin-bottom: 50px;
}
/* *=================================== */
.arrow {
   position: absolute;
   right: -33px;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #a492ff;
   border-radius: 50%;
   cursor: pointer;
}
.arrow::after,
.arrow::before {
   content: "";
   width: 10px;
   height: 2px;
   border-radius: 1px;
   background-color: #fff;
   position: absolute;
   transition: all 0.5s;
}
.arrow::after {
   transform: rotate(-45deg);
   top: 9px;
}
.arrow::before {
   transform: rotate(45deg);
   top: 15px;
}
.arrow:hover::before {
   transform: rotate(-45deg);
}
.arrow:hover::after {
   transform: rotate(45deg);
}
/* *Initial=================================== */
.person-initial {
   font-weight: 700;
   line-height: 22px;
   color: #fff;
   font-weight: 700;
   line-height: 22px;
   color: #fff;
   width: 44px;
   min-width: 44px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #a492ff;
   border-radius: 8px;
}
/* *Detail=================================== */
.person-detail {
   display: none;
   overflow: hidden;
}
/*  */
.person-name {
   font-weight: 700;
   line-height: 22px;
   color: #efefef;
}
.person-email {
   font-size: 14px;
   line-height: 19px;
   color: #c0bfbd;
}

/* * middle-asaid-=================================== */
.middle-aside {
   overflow: auto;
   overflow-x: hidden;
   min-height: 106px;
   flex: 1 1 auto;
}
/* *scrol */
.middle-aside::-webkit-scrollbar {
   width: 5px;
}

.middle-aside::-webkit-scrollbar-thumb {
   background-color: #a492ff;
   border-radius: 2.5px;
}

.middle-aside::-webkit-scrollbar-thumb:hover {
   background-color: #9d8afc;
}

.middle-aside::-webkit-scrollbar-track {
   background-color: #242625;
}

.middle-aside::-webkit-scrollbar-track:hover {
   background-color: #424444;
}
/* *=================================== */

.box-search {
   margin-bottom: 14px;
}

.box-search input {
   width: 100%;
   height: 46px;
   font-weight: 600;
   line-height: 22px;
   font-size: 16px;
   color: #c0bfbd;
   background-color: #424444;
   border-radius: 8px;
   border: none;
   box-sizing: border-box;
   background-image: url(../src/components/icon/search.svg);
   background-repeat: no-repeat;
   background-position: 12px;
}
.box-search input::placeholder {
   color: transparent;
}
/* !Hover =========*/
.asaid:hover .box-search input {
   padding: 14px 16px 14px 56px;
}
.asaid:hover .box-search input::placeholder {
   color: #c0bfbd;
}
/* !Hover =========*/
/* *Nav=================================== */

.nav {
   margin-right: 5px;
}

.nav__items {
   display: flex;
   flex-flow: column;
   align-items: center;
   gap: 14px;
}

.nav__item {
   background-color: ""; /* #2f0cc0 */
   border-radius: 8px;
   display: flex;
   align-self: stretch;
   align-items: center;
}

.nav__item:hover,
.box-mode:hover,
.box-logout:hover {
   background-color: #4a49cb;
}

.nav__link {
   display: flex;
   align-items: center;
   padding: 11px 11px;
   width: 100%;
   gap: 19px;
}

.link-text {
   display: none;
   color: #c0bfbd;
}

.icon {
}
/* *Bottom-asaid=================================== */
.bottom-aside {
   display: flex;
   flex-flow: column;
   gap: 14px;
}

.box-logout {
   display: flex;
   align-items: center;
   border-radius: 8px;
}

.box-mode {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 46px;
   gap: 25px;
   color: #c0bfbd;
   border-radius: 8px;
   overflow: hidden;
}
.name-mode {
   display: none;
   align-items: center;
   gap: 10px;
   white-space: nowrap;
}
/* *Style my checkbox */
.check-label {
   cursor: pointer;
}
.check-label:hover {
   /* filter: brightness(1.1); */
}
.check-input {
   display: none;
}
.check-input:checked ~ .check-div {
   background-color: #424444 /* #21dbdb */;
}
.check-input:checked ~ .check-div::before {
   background-image: url(../src/components/icon/miniDarkMode.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-color: #1e2020;
   left: calc(35px - 20px + 2.5px);
   box-shadow: 0px 4px 4px 0px #00000040;
}
.check-div {
   position: relative;
   width: 35px;
   height: 20px;
   border-radius: 35px;
   background-color: #f5f5f5;
   transition: all 0.3s linear;
}
.check-div::before {
   content: "";
   position: absolute;
   top: 2.5px;
   left: 2.5px;
   width: calc(20px - 2 * 2.5px);
   height: calc(20px - 2 * 2.5px);
   background-color: #fff;
   background-image: url(../src/components/icon/miniLightMode.svg);
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 50%;
   box-shadow: 0px 1px 2px 0px #00000026;
   transition: all 0.3s linear;
}
/* **Style my checkbox++++ */

.parent:hover .child {
   display: block;
}
.parent:hover .child-log {
   display: flex;
}
.asaid:hover {
   width: 250px;
   transition: all 0.3s linear;
}

