.header__item {
  transform: translateY(-7rem);
  animation: animate 3s linear 1 forwards;

  @media (max-width: 47.99rem) {
    animation: none;
    transform: none;
  }
}

@keyframes animate {
  0% {
    transform: translateY(-7rem);
  }
  30% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  60% {
    transform: translateY(0rem);
  }
  70% {
    transform: translateY(-1rem);
  }
  80% {
    transform: translateY(0rem);
  }
  90% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.header__item:nth-child(1) {
  animation-delay: 0s;
}
.header__item:nth-child(2) {
  animation-delay: 0.3s;
}
.header__item:nth-child(3) {
  animation-delay: 0.8s;
}
.header__item:nth-child(4) {
  animation-delay: 1.2s;
}
.header__item:nth-child(5) {
  animation-delay: 1.5s;
}
.header__link {
  position: relative;
  letter-spacing: 0.1rem;
  border-right: 0.3rem solid transparent;
  border-left: 0.3rem solid transparent;
  padding: 0.3rem;
  box-sizing: border-box;
}
.header__link:hover {
  border-color: white;
}

.header__link::after,
.header__link::before {
  content: "";
  width: 0%;
  height: 0.3rem;
  background-color: white;
  position: absolute;
  transition: all 0.5s ease;
}

.header__link::after {
  bottom: 0;
  left: 0;
}
.header__link::before {
  top: 0;
  right: 0;
  font-size: 0.2rem;
}
.header__link:hover::after,
.header__link:hover::before {
  width: 70%;
}
