html,
body {
   margin: 0;
   font-size: 10px;
   font-family: sans-serif;
   color: #01011b;
}
div {
   font-size: 3rem;
}
#root {
   background-color: rgba(185, 178, 178, 0.84);
   padding: 4rem 1.5rem;
}
a {
   text-decoration: none;
   color: white;
}

.products__items {
   display: grid;
   row-gap: 6rem;
   column-gap: 4rem;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.box__product-item {
   padding: 2rem;
   background-color: white;
   box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 7%);
   border-radius: 12px;
}

.products__item {
   overflow: hidden;
   display: grid;
   background-color: white;
   grid-auto-flow: row;
   /*розкоментувати код знизу для відображеня назви повної*/
   grid-template: minmax(20rem, 30rem)  9rem minmax(2rem, 4rem) minmax(3rem, 5rem) minmax(2rem, 6rem) / 1fr;
   /* grid-template: minmax(20rem, 30rem) 14rem 9rem minmax(2rem, 4rem) minmax(3rem, 5rem) minmax(2rem, 6rem) / 1fr; */
   /* grid-auto-rows: 1fr; */
   box-sizing: border-box;
}
.products__imge {
   margin: 0px 0px 2rem 0px;
   overflow: hidden;
}
.products__imge img {
   width: 100%;
   height: 100%;
   object-fit: scale-down;
   object-position: center;
}
.products__name {
   font-size: 3rem;
   line-height: 3rem;
   font-weight: 600;
   color: #01011b;
   margin: 0px 0px 2rem 0px;
   white-space: nowrap; /* закоментувати для відображеня повної назви */
   overflow: hidden;
   text-overflow: ellipsis;
}

.product__description {
   margin: 0px 0px 2rem 0px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   max-height: calc(1.4em * 2 + 20px);
}
.box__description {
   display: block;
   box-sizing: border-box;
   border-width: 0;
   border-style: solid;
   background-color: white;
}
.box__description span {
   font-size: 2rem;
   padding: 1.2rem 0rem;
   display: block;
   word-wrap: break-word;
   word-break: break-word;
   hyphens: auto;
   max-height: 6rem;
   overflow: hidden;
   transition: max-height 3s ease;
}
.box__product-item:hover .products__item .product__description .box__description span {
   max-height: 1000px; /* Максимальна висота, встановлена на велике значення, щоб вміст розгортався */
   transition: max-height 3s ease;
}

.product__rating {
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   gap: 1rem;
   padding: 0 0 1rem 0;
}
.rate {
   font-size: 2rem;
}

.price-product {
   font-size: 3rem;
   font-weight: 600;
}
.add__tocart {
   color: white;
   text-transform: uppercase;
   background-color: #613875;
   letter-spacing: 0.1rem;
   padding: 1.4rem 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.8rem;
   /* justify-self: center; */
   box-sizing: border-box;
   border-radius: 8px;
}
.add__tocart:hover {
   scale: 0.98;
}
.product__add-tocart img {
   vertical-align: baseline;
   margin-right: 1rem;
}
