.middle-aside {
   overflow: auto;
   overflow-x: hidden;
   min-height: 106px;
   flex: 1 1 auto;
}
/* *scrol */
.middle-aside::-webkit-scrollbar {
   width: 5px;
}

.middle-aside::-webkit-scrollbar-thumb {
   background-color: #a492ff;
   border-radius: 2.5px;
}

.middle-aside::-webkit-scrollbar-thumb:hover {
   background-color: #9d8afc;
}

.middle-aside::-webkit-scrollbar-track {
   background-color: #242625;
}

.middle-aside::-webkit-scrollbar-track:hover {
   background-color: #424444;
}
/* *=================================== */

.box-search {
   margin-bottom: 14px;
}

.box-search input {
   width: 100%;
   height: 46px;
   font-weight: 600;
   line-height: 22px;
   font-size: 16px;
   color: transparent;
   background-color: #424444;
   border-radius: 8px;
   border: none;
   box-sizing: border-box;
   background-image: url(../icon/search.svg);
   background-repeat: no-repeat;
   background-position: 12px;
}

.box-search input::placeholder {
   color: transparent;
}
/* !Hover =========*/
.asaid:hover .box-search input {
   padding: 14px 16px 14px 56px;
   color: #c0bfbd;
}
.asaid:hover .box-search input::placeholder {
   color: #c0bfbd;
}
/* !Hover =========*/
/* *Nav=================================== */

.nav {
   margin-right: 5px;
}

.nav__items {
   display: flex;
   flex-flow: column;
   align-items: center;
   gap: 14px;
}

.nav__item {
   background-color: ""; /* #2f0cc0 */
   border-radius: 8px;
   display: flex;
   align-self: stretch;
   align-items: center;
}

.nav__item:hover,
.box-mode:hover,
.box-logout:hover {
   background-color: #4a49cb;
}

.nav__link {
   display: flex;
   align-items: center;
   padding: 11px 11px;
   width: 100%;
   gap: 19px;
}

.link-text {
   display: none;
   color: #c0bfbd;
}

.icon {
}