body {
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}
ul {
   padding: 0;
   margin: 0;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
   color: #fff;
}
.asaid {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 90px;
   background-color: #242625;
   padding: 22px;
   box-sizing: border-box;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   transition: all 0.3s linear;
}
/* *global=============== */
.parent:hover .child {
   display: block;
}
.parent:hover .child-log {
   display: flex;
}
.asaid:hover {
   width: 250px;
   transition: all 0.3s linear;
}
