.bottom-aside {
   display: flex;
   flex-flow: column;
   gap: 14px;
}

.box-logout {
   display: flex;
   align-items: center;
   border-radius: 8px;
   overflow: hidden;
}

.box-mode {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 46px;
   gap: 25px;
   color: #c0bfbd;
   border-radius: 8px;
   overflow: hidden;
}

.name-mode {
   display: none;
   align-items: center;
   gap: 10px;
   white-space: nowrap;
}
/* *Style my checkbox */
.check-label {
   cursor: pointer;
}
.check-label:hover {
   /* filter: brightness(1.1); */
}
.check-input {
   display: none;
}
.check-input:checked ~ .check-div {
   background-color: #424444 /* #21dbdb */;
}
.check-input:checked ~ .check-div::before {
   background-image: url(../icon/miniDarkMode.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-color: #1e2020;
   left: calc(35px - 20px + 2.5px);
   box-shadow: 0px 4px 4px 0px #00000040;
}
.check-div {
   position: relative;
   width: 35px;
   height: 20px;
   border-radius: 35px;
   background-color: #f5f5f5;
   transition: all 0.3s linear;
}
.check-div::before {
   content: "";
   position: absolute;
   top: 2.5px;
   left: 2.5px;
   width: calc(20px - 2 * 2.5px);
   height: calc(20px - 2 * 2.5px);
   background-color: #fff;
   background-image: url(../icon/miniLightMode.svg);
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 50%;
   box-shadow: 0px 1px 2px 0px #00000026;
   transition: all 0.3s linear;
}